@{
    Layout = null;
}
@using BazarDeLaHess.Models

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>

    <h3>Products List</h3>
    <table cellpadding="2" cellspacing="2" border="1">
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Description</th>
            <th>Picture</th>
            <th>Price</th>
            <th>Available</th>
            <th>Buy</th>
        </tr>
        @foreach (Item item in ViewBag.products)
        {
            <tr>
                <td>@item.id_item</td>
                <td>@item.name</td>
                <td>@item.description</td>
                <td><img src="~/Content/Images/@item.picture" width="60" /> </td>
                <td>@item.price</td>
                <td>@item.available</td>
                <td align="center">
                    <a href="@Url.Action("Buy", "Cart", new { id = item.id_item })">Buy Now</a>
                </td>
            </tr>
        }
    </table>

</body>
</html>