@using BazarDeLaHess.Models
@model BazarDeLaHess.Models.HomeView

@{
    bool superUser = false;
    if (Session["superUser"] != null && (bool)Session["superUser"] == true)
    {
        superUser = true;
    }
}
<link rel="stylesheet" type="text/css" href="~/Content/Index.css">

<br />
<!-- La barre de navigation affichant les différents catégories d'objets -->
<div class="body-wrap">
    <div class="container">
        <nav class="navbar navbar-inverse" role="navigation">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    @Html.ActionLink("Menu", "Index", "Home", new { @class = "navbar-brand" })
                </div>

                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        @foreach (MasterCategory category in Model.Category)
                        {
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">@Html.DisplayFor(model => category.title)<b class="caret"></b></a>
                                <ul class="dropdown-menu">
                                    @foreach (Category subcategory in category.Category)
                                    {
                                        <li><a href="@Url.Action("Category", "Home", new { subcategory = subcategory.id_category })">@subcategory.title</a></li>
                                    }
                                </ul>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </nav>
    </div>
</div>

@if (superUser == true) //Ajout du bouton pour les admins leur permettant d'ajouter un Item
{
    <p>
        @Html.ActionLink("Ajouter un nouvel objet", "Create")
    </p>
}

@{ int maxDescriptionLength = 100;
    int maxTitleLenght = 20;}
<section class="pricing py-5">
    <div class="container">
        <div class="row">
            @foreach (Item item in Model.Item) //Affichange de chaque objet dans des Card (bootstrap) Bouton d'achat ou de détail et quelques informations
            {
                String description = item.description.Length <= maxDescriptionLength ? item.description : item.description.Substring(0, maxDescriptionLength) + " ...";
                String itemTitle = item.name.Length <= maxTitleLenght ? item.name : item.name.Substring(0, maxTitleLenght) + " ...";
                String url;
                String color;
                String title;
                <div class="col-lg-3 " style="margin-top:20px;">
                    <div class="card mb-5 mb-lg-0" style="height:400px">
                        <div class="card-body text-center">
                            <h4 style="padding-top:10px">@itemTitle</h4>

                            @if (item.available) //Si l'article est disponible ou non, affiche un bouton clicable ou non
                            {
                                color = "btn-primary";
                                title = "";
                                if (Session["userName"] != null)
                                {
                                    url = Url.Action("Buy", "Cart", new { id = item.id_item });
                                }
                                else
                                {
                                    url = Url.Action("Connection", "Users", new { itemID = item.id_item });
                                }
                            }
                            else
                            {
                                title = "rupture de stock";
                                color = "btn-muted";
                                url = "#";
                            }
                            <a class="btn-block @color" style="border:1px solid;" href=@url title='@title'>
                                <span class="badge" style="padding:8px; border-radius:25px; font-size:20px; position:absolute; top:0px; right:0px; border:1px solid">
                                    <span class="glyphicon glyphicon-shopping-cart"></span>
                                </span>
                            </a>
                            <hr>
                            <img src="~/Content/Images/@item.picture" style="height:20vh;" />
                            <p style="height:8vh; margin-top:10px">@description</p>
                            <a href="@Url.Action("Details", new { id = item.id_item })" class="btn btn-block btn-primary text-uppercase" style="margin:auto">Detail</a>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</section>
