@using BazarDeLaHess.Models

<style>
    <style >
    /* Chrome, Safari, Edge, Opera */
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    /* Firefox */
    input[type=number] {
        -moz-appearance: textfield;
        width: 22px;
        color: black;
    }

    /*Bootstrap ajoute des paddings qui empeche un meilleur positionnement*/
    .noPadding {
        padding: 0px 0px 0px 0px;
    }
</style>

<div class="container" style="margin-top:50px">
    <div class="row justify-content-md-center">
        <div class="col-sm-9">
            <div style="margin:10px 0px 10px 100px; font-size:25px; font-weight:bold">Mon Panier : </div>
            <div class="col-sm-12 row justify-content-md-center text-center" style="border:2px solid black">
                <div class="col-sm-12 row justify-content-md-center" style="padding:10px 0px 20px 0px; margin-left:5px;">
                    <div class="col-sm-2 noPadding" style="border-right: 2px solid black">Qte</div>
                    <div class="col-sm-7 noPadding" style="border-right: 2px solid black">Items</div>
                    <div class="col-sm-2 noPadding">Prix Unit</div>
                    <div class="col-sm-1 noPadding"></div>
                </div>
                <table class="col-sm-12 row justify-content-md-center" style="margin:0px 0px 10px 5px;padding-bottom:20px">
                    @if (Session["cart"] != null)
                    {
                        foreach (OrderItems item in (List<OrderItems>)Session["cart"])
                        {
                            <tr>
                                <!--<td class="col-sm-1" style="padding-top:10px"><a href="">-</a>  @item.quantity  <a href="">+</a></td>-->
                                <td class="col-sm-2 noPadding">
                                    @{int newQteMinus = item.quantity - 1;}
                                    @if (newQteMinus == 0)
                                    {
                                        <a href="@Url.Action("Remove", "Cart", new { id = item.id_item })">-</a>
                                    }
                                    else
                                    {
                                        <a href="@Url.Action("Edit", "Cart", new { id = item.id_item, qte = item.quantity - 1})">-</a>
                                    }
                                    <a>
                                        @using (Html.BeginForm("Edit", "Cart", FormMethod.Get, new { @style = "display:inline-block;" }))
                                        {
                                            <input type="number" name="qte" min="1" max="99" value="@item.quantity" />
                                            @Html.Hidden("id", item.id_item)
                                        }
                                    </a>
                                    <a href="@Url.Action("Edit", "Cart", new { id = item.id_item, qte = item.quantity + 1})">+</a>
                                </td>
                                <td class="col-sm-7 noPadding"><a href="@Url.Action("Details", "Home", new { id = item.id_item })">@item.Item.name</a></td>
                                <td class="col-sm-2 noPadding">@item.Item.price €</td>
                                <td><a href="@Url.Action("Remove", "Cart", new { id = item.id_item })" style="color:red">X</a></td>
                            </tr>
                        }
                    }
                    <tr><td style="padding-bottom:38px"></td></tr>
                </table>
            </div>
        </div>



        <div class="col-sm-2 text-center" style="border:solid; margin-left:30px;">
            <div style="margin-top:10px; font-size:25px; font-weight:bold">Total</div>
            <hr />
            @if (Session["cart"] != null)
            {
                double totalPrice = 0;
                <table style="margin:40px 0px 20px 0px">
                    @foreach (OrderItems item in (List<OrderItems>)Session["cart"])
                    {
                        <tr>
                            <td class="col-sm-1" style="padding-top:10px">@(item.quantity * item.Item.price) €</td>
                            @{totalPrice = totalPrice + (item.quantity * item.Item.price);}
                        </tr>
                    }
                </table>
                <div><span style="font-size:20px; font-weight:bold">Prix : </span><span style="font-size:20px;">@totalPrice €</span></div>
            }

        </div>
    </div>
</div>

<br>
<div class="text-center">
    @using (Html.BeginForm("Order", "Cart", FormMethod.Get, new { @style = "display:inline-block;" }))
    {
        <input type="submit" value="Commander">
    }
</div>