@model BazarDeLaHess.Models.Address

<link rel="stylesheet" type="text/css" href="~/Content/Formulaire.css">

<!-- Pour l'adresse de l'utilisateur 
    Element remplis selon ce qu'il d'enregistrer dans la base de donnée (par l'utilisateur) ou à remplir par l'utilisateur -->
<div class="container my-container" >
    <div class="my-form text-center">
        <span>Adresse de livraison.</span><br />
        <span>Si vous souhaitez enregistrer l'adresse appuyer sur le bouton</span><br />
        <span>"Sauvgarder cette adresse"</span>
        <!-- Address form -->
        <h3>Address de livraison</h3>

        @using (Html.BeginForm("Order", "Cart", FormMethod.Post))
        {
            <!-- number input-->
            <div class="form-group">
                <label class="control-label">Numéro</label>
                <div class="controls">
                    @Html.TextBoxFor(model => model.number, new { @class = "form-control", @value = Model.number })<br />
                    @Html.ValidationMessageFor(model => model.city)
                </div>
            </div>
            <!-- title input-->
            <div class="form-group">
                <label class="control-label">Libellé de la voie 1</label>
                <div class="controls">
                    @Html.TextBoxFor(model => model.title, new { @class = "form-control", @value = Model.title })<br />
                    @Html.ValidationMessageFor(model => model.title)
                </div>
            </div>
            <!-- city input-->
            <div class="form-group">
                <label class="control-label">Ville</label>
                <div class="controls">
                    @Html.TextBoxFor(model => model.city, new { @class = "form-control", @value = Model.city })<br />
                    @Html.ValidationMessageFor(model => model.city)
                </div>
            </div>
            <!-- postalcode input-->
            <div class="form-group">
                <label class="control-label">Code Postal</label>
                <div class="controls">
                    @Html.TextBoxFor(model => model.postcode, new { @class = "form-control", @value = Model.postcode })<br />
                    @Html.ValidationMessageFor(model => model.postcode)
                </div>
            </div>

            <!-- country select -->
            <div class="form-group">
                <label class="control-label">Pays</label>
                <div class="controls">
                    <select id="country" name="country" class="input-xlarge">
                        @if (Model.country != null && Model.country != "")
                        {
                            <option value="@Model.country">@Model.country</option>
                        }
                        else
                        {
                            <option value="" selected="selected">(Choisisez un pays)</option>
                        }
                        <option value="Belgique">Belgique</option>
                        <option value="Chine">Chine</option>
                        <option value="Cuba">Cuba</option>
                        <option value="France">France</option>
                        <option value="Inde">Inde</option>
                        <option value="Japan">Japon</option>
                        <option value="Monaco">Monaco</option>
                        <option value="Turquie">Turquie</option>
                    </select>
                </div>
            </div>
            <br />
            <div class="form-group">
                <input type="submit" name="save" class="btnSubmit" value="Sauvgarder cette adresse" /><br /><br />
                <input type="submit" name="send" class="btnSubmit" value="Envoyer à cette adresse" />
            </div>
        }
    </div>
</div>