@model BazarDeLaHess.Models.Users

<link rel="stylesheet" type="text/css" href="~/Content/Formulaire.css">

<div class="container my-container">
    <div class="my-form text-center">
        <span class="help-block">@ViewBag.notif</span>
        <h3>Connexion</h3>

        @using (Html.BeginForm("Login", "Users", FormMethod.Post))
        {
            <div class="form-group">
                @Html.TextBoxFor(model => model.email, new { @class = "form-control", @placeholder = "Your Email *" })<br />
                @Html.ValidationMessageFor(model => model.email)
            </div>
            <div class="form-group">
                @Html.PasswordFor(model => model.pass_word, new { @class = "form-control", @placeholder = "Your Password *" })<br />
                @Html.ValidationMessageFor(model => model.pass_word)
            </div>
            @Html.Hidden("itemID", (object)ViewBag.itemID)
            <div class="form-group">
                <input type="submit" class="btnSubmit" value="Login" />
            </div>
            <div class="form-group">
                <a href="@Url.Action("ForgotPassword", "Users")" class="btnForgetPwd">Forget Password?</a><br /><br />
                <span>Vous n'avez pas encore de compte ?</span>
                <span><a href="@Url.Action("NewAccount", "Users")" class="btnForgetPwd">Créer votre compte ici </a></span>
            </div>
        }
    </div>
</div>